:root {
    --accent: violet;
}

body {
    margin: 0;
}
a,
a:visited {
    color: var(--accent);
    text-decoration: line-through;
}
@supports (display: grid) {
    .d\:grid {
        display: grid;
    }
}
@media print {
    a,
    a:visited {
        color: rebeccapurple;
    }
}
/* Emoji */
.❤️ {
    color: red;
}
/* class 123 */
.\31 23::before {
    content: "123";
}
